<div class="container">
	<div class="d-flex m-2">
		<i class="bi bi-telephone me-2"></i>
		<i>0367646482 | 097292494 | Giờ mở cửa: Sáng: 7h30 - 12h, Chiều: 13h - 17h. Từ Thứ 2 - Thứ 7 hàng tuần.</i>
		<div class="ms-auto">
			<a href="login.html">Đăng nhập</a> /
			<a href="register.html">Đăng ký</a>
		</div>
	</div>


	<div class="d-flex align-items-center">
		<a href="/" class="col-3">
			<img src="assets/img/kienlab-512x512.png" alt="" width="100px">
		</a>
		<div class="col-6">
			<form class="input-group ms-auto align-self-center" role="search">
				<input class="form-control" type="search" placeholder="Search" aria-label="Search">
				<button class="btn btn-outline-secondary bi bi-search" type="submit"></button>
			</form>
		</div>
		<div class="ms-auto">
			<a href="cart.html" class="btn btn-danger"><i class="bi bi-cart"></i></a>
		</div>

	</div>

	<nav class="navbar navbar-expand-lg navbar-dark bg-primary row">
		<div class="container-fluid">
			<a class="navbar-brand" href="/">KIENLAB</a>

			<div class="collapse navbar-collapse" >
				<ul class="navbar-nav ms-auto mb-2 mb-lg-0">
					<li class="nav-item">
						<a class="nav-link" href="about.html">GIỚI THIỆU</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" href="products.html">SẢN PHẨM</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" href="sitemap.html">SITEMAP</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" href="contact.html">LIÊN HỆ</a>
					</li>
				</ul>
			</div>
		</div>
	</nav>
</div>